* {
  box-sizing: border-box;
}
.container {
  background-color: #ffffff;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 50px;
}
.list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
